[submodule "ansible-examples"]
	path = ansible-examples
	url = git@github.com:trinitronx/ansible-examples.git
	branch = develop
[submodule "ursula"]
	path = ursula
	url = https://github.com/blueboxgroup/ursula.git
[submodule "ansible-sample-tdd"]
	path = ansible-sample-tdd
	url = https://github.com/volanja/ansible-sample-tdd.git
